name: check for new CPython versions
on:
  workflow_dispatch:
    inputs:
      force:
        description: "Force update check for versions that are already cached"
        required: false
        default: "false"
  schedule:
    - cron: "0 12 * * *"

jobs:
  check-versions:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v4

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "latest"

      - name: check for new versions
        run: |
          if [[ "${FORCE}" = 'true' ]]; then
            ./fetcher.py --force
          else
            ./fetcher.py
          fi
        env:
          FORCE: ${{ github.event.inputs.force || 'false' }}

      - name: create PR
        uses: peter-evans/create-pull-request@v6
        with:
          commit-message: "[BOT] update versions"
          branch: update-versions
          branch-suffix: timestamp
          title: "[BOT] update versions"
          body: |
            This is an automated pull request.

            Please review manually before merging.
          assignees: "woodruffw"
          reviewers: "woodruffw"
